.vscode/
.idea
cmake-build-*
build
*.pyc
*.sh
*.out
*.log
*.json
*.wandb
*.yaml
*.DS_Store
*.sbatch
# Distribution / packaging
__pycache__/
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
wheelhouse/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.whl

# C extensions
*.so
